/*
The integrated development tool for google chrome
 has been used to test the responsiveness and accessibility of this web page.
 Chrome developer tools: https://developers.google.com/web/tools/chrome-devtools

 Editor used for this project: Atom (https://atom.io/)
*/


* {
  box-sizing: border-box;
  font-family: serif, Arial, sans-serif;
}

body {
  background-color: rgba(70, 70, 70, 1);
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

#PageContainer {
  background-color: white;
  max-width: 1200px;
  margin-left: 10%;
  margin-right: 0px auto;
}

/*Styles for the footer sections contianing references*/
footer {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: rgba(50, 100, 50, 1);
  color: white;
}

footer h2 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

footer li, footer dd, footer dt {
  padding: 10px;
  font-size: 15px;
  max-width: 300px;
}

footer a {
  color: rgba(250, 210, 230, 1);
  padding: 5px;
}

footer a:hover {
  color: black;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}
/*End styles for footer*/



.col-10 {width: 10%;}
.col-20 {width: 20%;}
.col-30 {width: 30%;}
.col-40 {width: 40%;}
.col-50 {width: 50%;}
.col-60 {width: 60%;}
.col-70 {width: 70%;}
.col-80 {width: 80%;}
.col-90 {width: 90%;}
.col-100 {width: 100%;}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.lastRow::after {
    content: "";
    clear: both;
    display: table;
}
