/*
The integrated development tool for google chrome
 has been used to test the responsiveness and accessibility of this web page.
 Chrome developer tools: https://developers.google.com/web/tools/chrome-devtools

 Editor used for this project: Atom (https://atom.io/)
*/

/*header is not visible for browser windows wider than 800px*/
header {
  display: none;
}

.row {
  height: 500px;
  background-color: rgba(150, 150, 150, 1);
  color: white;
}

.lastRow {
  height: 500px;
  background-color: rgba(150, 150, 150, 1);
}

.empty {
  color: rgba(10, 10, 100, 0);
  height: 100%;
}

.left-column {
  border-right-style: solid;
  border-right-color: black;
  background-color: rgba(10, 100, 10, 0.3);
}

/*Style for the section containing opening hours.*/
.openingHours {
  padding-left: 20px;
  height: 100%;
}

.openingHours h2 {
  font-size: 30px;
}

.openingHours dl {
  line-height: 3vw;
  font-size: 20px;
}

/*End opening hours.*/


/*Styles for the title images*/
.imageContainer {
  height: 100%;
  overflow: auto;
  position: relative;
}

.image {
  width: 50%;
  float: left;
  height: 100%;
}

#imgOven {
  background: url("../img/pizza-oven-2537308_640.jpg") -200px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


#imgResturant {
  background: url("../img/bistro-498504_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#pageTitle {
  font-size: 3vw;
  position: absolute;
  display: inline-block;
  background-color: rgba(50, 100, 50, 0.7);
  /*rgba(50, 50, 100, 0.7);*/
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  left: 30%;
  top: 320px;
  box-shadow: 3px 3px 5px black;
  z-index: 1;
}

/*End title*/


/*Styles for the navigation section*/
#SiteNavigation {
  margin-top: 40px;
  border-style: dashed;
  border-color: white;
  text-decoration: none;
  color: white;
  background-color: rgba(100, 100, 100, 1);
  height: 70%;
}

.lastRow .col-40 {
  padding-left: 15px;
  padding-right: 15px;
}

#ourMenu {
  font-size: 20px;
  padding: 15px;
  width: 100%;
  margin: 0;
}

#SiteNavigation:hover {
  background-color: rgba(200, 200, 200, 1);
  color: black;
}

#MenuImage {
  background: url("../img/menu-3206749_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px;
  margin: 10px;
}

.menuContainer {
  position: relative;
}

/*End styles for navigation*/


/*Styles aplied for browser windows smaler than 800px in the width*/
@media only screen and (max-width: 800px) {

  [class*="col-"] {
    width: 100%;
  }

  .empty {
    display: none;
  }
  
  .left-column {
    border: none;
  }

  .lastRow {
    height: auto;
    padding-bottom: 100px;
  }

  .openingHours {
    columns: 150px 3;
    column-rule: 5px double rgba(200, 200, 200, 1);
    column-gap: 40px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .openingHours dl {
    line-height: 5vw;
  }

  header {
    display: flex;
    padding-top: 1px;
  }
}

/*End styles for small screen*/


/*Styles for mobile devices (browser width not larger than 450px)*/
@media only screen and (max-width: 450px) {

  #imgRestaurantRef {
    display: none;
  }

  #imgResturant {
    display: none;
  }

  #imgOven {
    width: 100%;
  }
}

/*End styles for mobile devices*/
